* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f4f6fb;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #6b4eff;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: rgba(255,255,255,0.2);
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.balance h1 {
  color: #6b4eff;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  flex: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

/* ACTIONS */
.actions button {
  background: #6b4eff;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.actions button:hover {
  background: #5438ff;
}

/* TRANSACTIONS */
.transactions {
  background: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
}

.plus {
  color: green;
}

.minus {
  color: red;
}
